@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
}

.chat_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px 5px 6px;
    width: 93, 5%;
    border-bottom: 1px solid var(--border-bottom-color);
    background-color: var(--input-bg);
    cursor: pointer;
}

.chat_container:hover {
    background-color: var(--hover-bg-color);
}

.chat_container.active {
    background-color: var(--active-bg-color);
}

.chat_profile_pic {
    width: 49px;
    height: 49px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.chat_right_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -10px;
    border-bottom: 1px solid var(--border-bottom-color);
}

.chat_container {
    border-bottom: none;
}

.chat_right_container {
    border-bottom: 1px solid var(--border-bottom-color);
}

/* TOP ROW */
.chat_row_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.chat_contact {
    margin: 0;
    font-size: 17px;
    font-weight: 655;
    color: var(--text-primary);
    line-height: normal;
}

.chat_time {
    margin: 0;
    font-size: 12px;
    color: var(--text-secondary);
}

.chat_row_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_msg {
    max-width: 250px;
    margin: 0;
    font-size: 14px;
    color: var(--text-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_unread {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #25d366;
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.chat_unread p {
    margin: 0;
}

.chat_msg.unread {
    font-weight: 700;
    color: var(--text-primary);

}