@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.chats_container {
    flex: 1;
    overflow-y: auto;
}

.chats_archived_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    width: 29%;
    margin-top: 1px;
    margin-bottom: 5px;
    gap: 259%;
}

.chats_archived_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.chats_archived_title h1 {
    margin: 0;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 500;
    color: var(--text-primary);
}

.chats_archived_title i {
    font-size: 21px;
    color: var(--icon-green);
}

.chats_paragraph_number {
    display: flex;
    align-items: end;
    font-size: 12px;
    color: var(--icon-green);
}